<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBProject">
        <activity android:name=".request"></activity>
        <activity android:name=".register" />
        <activity android:name=".doaSetelahSholat" />
        <activity android:name=".setting" />
        <activity android:name=".doaNabiMuhammad" />
        <activity android:name=".doaNabiNuh" />
        <activity android:name=".doaNabiIbrahim" />
        <activity android:name=".doaNabiAdam" />
        <activity android:name=".doaBgnTidur" />
        <activity android:name=".doaSblmTidur" />
        <activity android:name=".doaSdhMakan" />
        <activity android:name=".DoaNabi" />
        <activity android:name=".DoaTbala" />
        <activity android:name=".DoaSblmMakan" />
        <activity android:name=".doaHarian" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>